<footer class="footer">
    <div class="footer-top">
        <div class="container">
            <div class="footer-top__content">
                <div class="footer-top__left">
                    <div class="footer-top__logo">
                        <a href="./">
                            <img loading="lazy" src="img/icons/logo2.svg" alt="">
                        </a>
                        <p>
                            Печать на готовой упаковке малыми и средними тиражами
                        </p>
                    </div>
                    <div class="socials">
                        <a href="./">
                            <img src="img/icons/telegramm.svg" alt="">
                        </a>
                        <a href="./">
                            <img src="img/icons/max.svg" alt="">
                        </a>
                        <a href="./">
                            <img src="img/icons/vk.svg" alt="">
                        </a>
                    </div>
                </div>
                <div class="footer-top__column1">
                    <div class="footer-top__title">
                        Реквизиты
                    </div>
                    <ul>
                        <li>
                            <span>ООО “ПЛЭ Принт”</span>
                        </li>
                        <li>
                            <span>Адрес производства:</span> 107564, Москва, ул. Краснобогатырская, д. 2, стр. 2 <a
                                href="./">Мы на карте</a>
                        </li>
                        <li>
                            <span>ИНН:</span> 756127743456
                        </li>
                        <li>
                            <span>ОГРН:</span> 44637884456773
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column2">
                    <div class="footer-top__title">
                        Меню
                    </div>
                    <ul>
                        <li>
                            <a href="./">
                                Печать на крафтовых пакетах
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                Печать на готовых гофрокоробках
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                Наши работы
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                Требования к макетам
                            </a>
                        </li>
                        <li>
                            <a href="./">
                                Контакты
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="footer-top__column3">
                    <div class="footer-top__title">
                        Контакты
                    </div>
                    <div class="footer-top__contacts">
                        <a href="tel:79882500408" class="footer-top__phone">
                            +7 (988) <span>250-04-08</span>
                        </a>
                        <a href="mailto:support@pkeprint.ru" class="footer-top__email">
                            support@pkeprint.ru
                        </a>
                    </div>
                    <a href="./" data-popup="#request" class="btn">
                        <span>Заказать расчет</span>
                        <svg aria-hidden="true" width="7" height="11">
                            <use xlink:href="img/sprite.svg#arrow2"></use>
                        </svg>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="footer-bottom__content">
                <div class="footer-bottom__copy">© PKE print 2026 Все права защищены</div>
                <a href="./" class="footer-bottom__link">
                    Пользовательское соглашение
                </a>
                <a href="./" class="footer-bottom__link">
                    Политику конфиденциальности
                </a>
                <div class="footer-bottom__text">
                    Разработка сайта: <a href="./">miridea.ru</a>
                </div>
            </div>
        </div>
    </div>
</footer>