<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="header__logo">
                <a href="./">
                    <img src="img/icons/logo1.svg" alt="">
                </a>
                <p data-da=".header-menu, 992, first">
                    Печать на готовой упаковке малыми и средними тиражами
                </p>
            </div>
            <div class="header-menu">
                <div data-spollers="1400,max" class="header-menu__spollers">
                    <div class="header-menu__item item-menu">
                        <button type="button" data-spoller class="header-menu__title">
                            <span class="icon-menu"><span></span></span>
                            <span>Услуги</span>
                        </button>
                        <div class="header-menu__body">
                            <ul>
                                <li>
                                    <a href="./">
                                        Печать на крафтовых пакетах
                                    </a>
                                </li>
                                <li>
                                    <a href="./">
                                        Печать на готовых гофрокоробках
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <div class="header-menu__item">
                        <a href="./" class="header-menu__title">
                            Наши работы
                        </a>
                    </div>
                    <div class="header-menu__item">
                        <a href="./" class="header-menu__title">
                            Требования к макетам
                        </a>
                    </div>
                    <div class="header-menu__item">
                        <a href="./" class="header-menu__title">
                            Контакты
                        </a>
                    </div>
                </div>
            </div>
            <div class="header__right">
                <div class="header__contacts">
                    <a href="tel:79882500408" class="header__phone">
                        +7 (988) <span>250-04-08</span>
                    </a>
                    <div class="socials">
                        <a href="./">
                            <img src="img/icons/telegramm.svg" alt="">
                        </a>
                        <a href="./">
                            <img src="img/icons/max.svg" alt="">
                        </a>
                    </div>
                </div>
                <a data-da=".header-menu, 768, 2" href="./" data-popup="#request" class="btn">
                    <span>Заказать расчет</span>
                    <svg aria-hidden="true" width="7" height="11">
                        <use xlink:href="img/sprite.svg#arrow2"></use>
                    </svg>
                </a>
                <button type="button" class="header__icon icon-menu"><span></span></button>
            </div>
        </div>
    </div>
</header>