<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Главная</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro">
                <div class="container">
                    <div class="block-intro__contents">
                        <div class="bg1"></div>
                        <div class="block-intro__content">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="block-intro__body">
                                <div class="block-intro__left">
                                    <h1 class="title1">
                                        <strong>Полноцветная печать</strong> <span>на готовых</span> крафтовых пакетах и
                                        гофрокоробках
                                    </h1>
                                    <div class="block-intro__text">
                                        <div class="block-intro__icon">
                                            <svg aria-hidden="true" width="38" height="40">
                                                <use xlink:href="img/sprite.svg#calendar"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Брендируем вашу упаковку за 1–3 дня на новейшем цифровом оборудовании
                                        </p>
                                    </div>
                                    <div class="block-intro__bottom">
                                        <a href="./" data-popup="#request" class="btn btn-bg btn-yellow">
                                            <span>Рассчитать<br> стоимость онлайн</span>
                                            <img src="img/image2.webp" alt="">
                                        </a>
                                        <a href="./" data-goto=".block-portfolio" data-goto-header
                                            class="block-intro__link">
                                            <svg aria-hidden="true" width="9" height="15">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Смотреть примеры работ</span>
                                        </a>
                                    </div>
                                </div>
                                <div data-da=".block-intro__left, 992, 2" class="block-intro__right">
                                    <div class="block-intro__column">
                                        <div class="icon-check">
                                            <svg aria-hidden="true" width="16" height="14">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Тиражи от 100 шт
                                        </p>
                                    </div>
                                    <div class="block-intro__column">
                                        <div class="icon-check">
                                            <svg aria-hidden="true" width="16" height="14">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Работаем с вашей и нашей упаковкой
                                        </p>
                                    </div>
                                    <div class="block-intro__column column-yellow">
                                        <div class="icon-check icon-check-yellow">
                                            <svg aria-hidden="true" width="16" height="14">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            <span>Бесплатная</span> цветопроба первого экземпляра
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <img src="img/image1.webp" alt="" class="block-intro__pic1 desc">
                            <img src="img/image1-mob.webp" alt="" class="block-intro__pic1 mob">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-brand">
                <div class="container">
                    <h2 class="title2">
                        <span>Что мы</span> брендируем
                    </h2>
                    <div class="block-brand__body">
                        <div class="block-brand__column column-blue">
                            <div class="block-brand__item">
                                <div class="block-brand__top">
                                    <div class="block-brand__titles">
                                        <div class="block-brand__title">
                                            Печать на<br> крафтовых пакетах
                                        </div>
                                        <p>
                                            Нанесение логотипов и полноцветных изображений на пакеты с кручеными и
                                            плоскими
                                            ручками
                                        </p>
                                    </div>
                                    <div class="block-brand__left">
                                        <div class="block-brand__price">
                                            <span>от 18 ₽</span> /шт.
                                        </div>
                                        <a href="./" class="btn">
                                            <span>Подробнее</span>
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow2"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <img loading="lazy" src="img/image7.webp" alt="" class="block-brand__pic1">
                        </div>
                        <div class="block-brand__column">
                            <div class="block-brand__item">
                                <div class="block-brand__top">
                                    <div class="block-brand__titles">
                                        <div class="block-brand__title">
                                            Печать на готовых гофрокоробках
                                        </div>
                                        <p>
                                            Брендирование четырехклапанных коробок, самосборных конструкций и коробов
                                            для
                                            маркетплейсов (Wildberries, Ozon)
                                        </p>
                                    </div>
                                    <div class="block-brand__left">
                                        <div class="block-brand__price">
                                            <span>от 24 ₽</span> /шт.
                                        </div>
                                        <a href="./" class="btn">
                                            <span>Подробнее</span>
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow2"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <img loading="lazy" src="img/image8.webp" alt="" class="block-brand__pic1">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section1">
                <div class="container">
                    <h2 class="title2">
                        <span>Оборудование 2026 года:</span><br>
                        почему наша печать лучше
                    </h2>
                    <div class="block-section1__body">
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <div class="icon-check icon-check-yellow">
                                    <svg aria-hidden="true" width="16" height="14">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                </div>
                                <img loading="lazy" src="img/image11.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Печать на готовых изделиях
                            </div>
                            <p>
                                Наносим изображения на уже склеенные пакеты и собранные коробки. Принт ложится идеально
                                ровно даже на сложных участках — поверх швов и биговок
                            </p>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <div class="icon-check icon-check-yellow">
                                    <svg aria-hidden="true" width="16" height="14">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                </div>
                                <img loading="lazy" src="img/image12.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Персонализация<br> (Печать переменных данных)
                            </div>
                            <p>
                                Можем нанести уникальный штрихкод, порядковый номер или промокод на каждую коробку в
                                партии. Никаких доплат за смену данных внутри одного тиража
                            </p>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <div class="icon-check icon-check-yellow">
                                    <svg aria-hidden="true" width="16" height="14">
                                        <use xlink:href="img/sprite.svg#check1"></use>
                                    </svg>
                                </div>
                                <img loading="lazy" src="img/image13.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Экономика малых и скорость крупных тиражей
                            </div>
                            <p>
                                Нам не нужно изготавливать дорогие печатные формы (клише). Это делает рентабельным заказ
                                от 100 штук и обеспечивает высокую скорость отгрузки для крупных партий
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-portfolio">
                <div class="container">
                    <div class="block-portfolio__contents">
                        <div class="bg2"></div>
                        <div class="block-portfolio__content">
                            <div class="heading-complex">
                                <h2 class="title2">
                                    <span>Реальные работы</span><br>
                                    с цифрами и фактами
                                </h2>
                                <p>
                                    Посмотрите, как выглядит наш принт вживую
                                </p>
                            </div>
                            <div class="block-portfolio__body">
                                <div class="block-portfolio__cards">
                                    <div class="card-portfolio">
                                        <div class="card-portfolio__images">
                                            <a href="img/product1.webp" data-fancybox="gallery1"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product1.webp" alt="">
                                            </a>
                                            <a href="img/product2.webp" data-fancybox="gallery1"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product2.webp" alt="">
                                            </a>
                                            <div class="zoom">
                                                <svg aria-hidden="true" width="23" height="23">
                                                    <use xlink:href="img/sprite.svg#zoom"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Задача:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Печать логотипа для бренда одежды
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Носитель:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Пакет крафт бурый 32х22х11см
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Тираж:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    500 шт.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Срок реализации:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    2 дня
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-portfolio">
                                        <div class="card-portfolio__images">
                                            <a href="img/product2.webp" data-fancybox="gallery2"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product2.webp" alt="">
                                            </a>
                                            <a href="img/product1.webp" data-fancybox="gallery2"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product1.webp" alt="">
                                            </a>
                                            <div class="zoom">
                                                <svg aria-hidden="true" width="23" height="23">
                                                    <use xlink:href="img/sprite.svg#zoom"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Задача:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Печать логотипа для бренда одежды
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Носитель:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Пакет крафт бурый 32х22х11см
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Тираж:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    500 шт.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Срок реализации:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    2 дня
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-portfolio">
                                        <div class="card-portfolio__images">
                                            <a href="img/product3.webp" data-fancybox="gallery3"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product3.webp" alt="">
                                            </a>
                                            <a href="img/product1.webp" data-fancybox="gallery3"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product1.webp" alt="">
                                            </a>
                                            <div class="zoom">
                                                <svg aria-hidden="true" width="23" height="23">
                                                    <use xlink:href="img/sprite.svg#zoom"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Задача:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Печать логотипа для бренда одежды
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Носитель:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Пакет крафт бурый 32х22х11см
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Тираж:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    500 шт.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Срок реализации:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    2 дня
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-portfolio">
                                        <div class="card-portfolio__images">
                                            <a href="img/product2.webp" data-fancybox="gallery2"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product2.webp" alt="">
                                            </a>
                                            <a href="img/product1.webp" data-fancybox="gallery2"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product1.webp" alt="">
                                            </a>
                                            <div class="zoom">
                                                <svg aria-hidden="true" width="23" height="23">
                                                    <use xlink:href="img/sprite.svg#zoom"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Задача:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Печать логотипа для бренда одежды
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Носитель:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Пакет крафт бурый 32х22х11см
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Тираж:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    500 шт.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Срок реализации:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    2 дня
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-portfolio">
                                        <div class="card-portfolio__images">
                                            <a href="img/product3.webp" data-fancybox="gallery3"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product3.webp" alt="">
                                            </a>
                                            <a href="img/product1.webp" data-fancybox="gallery3"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product1.webp" alt="">
                                            </a>
                                            <div class="zoom">
                                                <svg aria-hidden="true" width="23" height="23">
                                                    <use xlink:href="img/sprite.svg#zoom"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Задача:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Печать логотипа для бренда одежды
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Носитель:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Пакет крафт бурый 32х22х11см
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Тираж:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    500 шт.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Срок реализации:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    2 дня
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                    <div class="card-portfolio">
                                        <div class="card-portfolio__images">
                                            <a href="img/product1.webp" data-fancybox="gallery1"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product1.webp" alt="">
                                            </a>
                                            <a href="img/product2.webp" data-fancybox="gallery1"
                                                class="card-portfolio__image">
                                                <img loading="lazy" src="img/product2.webp" alt="">
                                            </a>
                                            <div class="zoom">
                                                <svg aria-hidden="true" width="23" height="23">
                                                    <use xlink:href="img/sprite.svg#zoom"></use>
                                                </svg>
                                            </div>
                                        </div>
                                        <ul>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Задача:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Печать логотипа для бренда одежды
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Носитель:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    Пакет крафт бурый 32х22х11см
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Тираж:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    500 шт.
                                                </div>
                                            </li>
                                            <li>
                                                <div class="card-portfolio__name">
                                                    Срок реализации:
                                                </div>
                                                <div class="card-portfolio__value">
                                                    2 дня
                                                </div>
                                            </li>
                                        </ul>
                                    </div>
                                </div>
                                <a href="./" class="btn btn-yellow">
                                    <span>Смотреть всё портфолио</span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>