<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Наши работы</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        <header class="header">
            <div class="container">
                <div class="header__content">
                    <div class="header__logo">
                        <a href="./">
                            <img src="img/icons/logo1.svg" alt="">
                        </a>
                        <p data-da=".header-menu, 992, first">
                            Печать на готовой упаковке малыми и средними тиражами
                        </p>
                    </div>
                    <div class="header-menu">
                        <div data-spollers="1400,max" class="header-menu__spollers">
                            <div class="header-menu__item item-menu">
                                <button type="button" data-spoller class="header-menu__title">
                                    <span class="icon-menu"><span></span></span>
                                    <span>Услуги</span>
                                </button>
                                <div class="header-menu__body">
                                    <ul>
                                        <li>
                                            <a href="./">
                                                Печать на крафтовых пакетах
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./">
                                                Печать на готовых гофрокоробках
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                            <div class="header-menu__item">
                                <a href="./" class="header-menu__title active">
                                    Наши работы
                                </a>
                            </div>
                            <div class="header-menu__item">
                                <a href="./" class="header-menu__title">
                                    Требования к макетам
                                </a>
                            </div>
                            <div class="header-menu__item">
                                <a href="./" class="header-menu__title">
                                    Контакты
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="header__right">
                        <div class="header__contacts">
                            <a href="tel:79882500408" class="header__phone">
                                +7 (988) <span>250-04-08</span>
                            </a>
                            <div class="socials">
                                <a href="./">
                                    <img src="img/icons/telegramm.svg" alt="">
                                </a>
                                <a href="./">
                                    <img src="img/icons/max.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <a data-da=".header-menu, 768, 2" href="./" data-popup="#request" class="btn">
                            <span>Заказать расчет</span>
                            <svg aria-hidden="true" width="7" height="11">
                                <use xlink:href="img/sprite.svg#arrow2"></use>
                            </svg>
                        </a>
                        <button type="button" class="header__icon icon-menu"><span></span></button>
                    </div>
                </div>
            </div>
        </header>
        <main class="main">

            <div class="block-intro block-intro-other1">
                <div class="container">
                    <div class="block-intro__contents">
                        <div class="bg1"></div>
                        <div class="block-intro__content">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="block-intro__body">
                                <div class="block-intro__left">
                                    <div class="breadcrumbs">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <svg aria-hidden="true" width="20" height="18">
                                                        <use xlink:href="img/sprite.svg#home"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li><span>Наши работы</span></li>
                                        </ul>
                                    </div>
                                    <h1 class="title1">
                                        <strong>Наши работы:</strong> <span>примеры брендирования упаковки</span>
                                    </h1>
                                    <div class="block-intro__text">
                                        <p>
                                            Мы не используем цифровые мокапы. В этом разделе собраны только реальные
                                            фотографии пакетов и коробок, отпечатанных на нашем оборудовании. Оцените
                                            яркость красок, точность совмещения цветов и качество печати на сложных
                                            участках (швах и биговках).
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <img src="img/image6.webp" alt="" class="block-intro__pic1 pic-portfolio">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-portfolio block-portfolio2">
                <div class="container">
                    <div class="block-portfolio__content">
                        <nav class="block-portfolio-nav">
                            <button data-filter="all" data-text="Все работы" type="button"
                                class="block-portfolio-nav__title active">
                                Все работы
                            </button>
                            <button data-filter="product1" data-text="Печать на крафтовых пакетах" type="button"
                                class="block-portfolio-nav__title">
                                Печать на крафтовых пакетах
                            </button>
                            <button data-filter="product2" data-text="Печать на гофрокоробках" type="button"
                                class="block-portfolio-nav__title">
                                Печать на гофрокоробках
                            </button>
                        </nav>
                        <div class="block-portfolio__body">
                            <div class="block-portfolio__cards">
                                <div data-filter="product2" class="card-portfolio">
                                    <div class="card-portfolio__images">
                                        <a href="img/product4.webp" data-fancybox="gallery1"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product4.webp" alt="">
                                        </a>
                                        <a href="img/product4.webp" data-fancybox="gallery1"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product4.webp" alt="">
                                        </a>
                                        <div class="zoom">
                                            <svg aria-hidden="true" width="23" height="23">
                                                <use xlink:href="img/sprite.svg#zoom"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="card-portfolio__top">
                                        <div class="card-portfolio__text">
                                            #гофрокоробки
                                        </div>
                                        <div class="card-portfolio__title">
                                            Брендирование пакетов для сети кофеен
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Материал:
                                            </div>
                                            <div class="card-portfolio__value">
                                                Бурый крафт (крученые ручки)
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Цветность:
                                            </div>
                                            <div class="card-portfolio__value">
                                                CMYK (полноцвет)
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Тираж:
                                            </div>
                                            <div class="card-portfolio__value">
                                                500 шт.
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="./" class="btn">
                                        <span>Смотреть кейс</span>
                                        <svg aria-hidden="true" width="7" height="11">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div data-filter="product2" class="card-portfolio">
                                    <div class="card-portfolio__images">
                                        <a href="img/product5.webp" data-fancybox="gallery2"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product5.webp" alt="">
                                        </a>
                                        <a href="img/product5.webp" data-fancybox="gallery2"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product5.webp" alt="">
                                        </a>
                                        <div class="zoom">
                                            <svg aria-hidden="true" width="23" height="23">
                                                <use xlink:href="img/sprite.svg#zoom"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="card-portfolio__top">
                                        <div class="card-portfolio__text">
                                            #гофрокоробки
                                        </div>
                                        <div class="card-portfolio__title">
                                            Упаковка для бренда натуральной косметики
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Материал:
                                            </div>
                                            <div class="card-portfolio__value">
                                                Белый микрогофрокартон (МГК)
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Цветность:
                                            </div>
                                            <div class="card-portfolio__value">
                                                CMYK
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Тираж:
                                            </div>
                                            <div class="card-portfolio__value">
                                                300 шт.
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="./" class="btn">
                                        <span>Смотреть кейс</span>
                                        <svg aria-hidden="true" width="7" height="11">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div data-filter="product1" class="card-portfolio">
                                    <div class="card-portfolio__images">
                                        <a href="img/product6.webp" data-fancybox="gallery3"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product6.webp" alt="">
                                        </a>
                                        <a href="img/product6.webp" data-fancybox="gallery3"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product6.webp" alt="">
                                        </a>
                                        <div class="zoom">
                                            <svg aria-hidden="true" width="23" height="23">
                                                <use xlink:href="img/sprite.svg#zoom"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="card-portfolio__top">
                                        <div class="card-portfolio__text">
                                            #Крафт-пакеты
                                        </div>
                                        <div class="card-portfolio__title">
                                            Пакеты V-образное дно для пекарни
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Материал:
                                            </div>
                                            <div class="card-portfolio__value">
                                                Белый крафт
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Цветность:
                                            </div>
                                            <div class="card-portfolio__value">
                                                2 цвета
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Тираж:
                                            </div>
                                            <div class="card-portfolio__value">
                                                1000 шт.
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="./" class="btn">
                                        <span>Смотреть кейс</span>
                                        <svg aria-hidden="true" width="7" height="11">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div data-filter="product2" class="card-portfolio">
                                    <div class="card-portfolio__images">
                                        <a href="img/product7.webp" data-fancybox="gallery4"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product7.webp" alt="">
                                        </a>
                                        <a href="img/product7.webp" data-fancybox="gallery4"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product7.webp" alt="">
                                        </a>
                                        <div class="zoom">
                                            <svg aria-hidden="true" width="23" height="23">
                                                <use xlink:href="img/sprite.svg#zoom"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="card-portfolio__top">
                                        <div class="card-portfolio__text">
                                            #гофрокоробки
                                        </div>
                                        <div class="card-portfolio__title">
                                            Транспортная тара для маркетплейсов
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Материал:
                                            </div>
                                            <div class="card-portfolio__value">
                                                Бурый гофрокартон
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Цветность:
                                            </div>
                                            <div class="card-portfolio__value">
                                                Черный (штрихкоды + лого)
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Тираж:
                                            </div>
                                            <div class="card-portfolio__value">
                                                200 шт.
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="./" class="btn">
                                        <span>Смотреть кейс</span>
                                        <svg aria-hidden="true" width="7" height="11">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div data-filter="product2" class="card-portfolio">
                                    <div class="card-portfolio__images">
                                        <a href="img/product4.webp" data-fancybox="gallery5"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product4.webp" alt="">
                                        </a>
                                        <a href="img/product4.webp" data-fancybox="gallery5"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product4.webp" alt="">
                                        </a>
                                        <div class="zoom">
                                            <svg aria-hidden="true" width="23" height="23">
                                                <use xlink:href="img/sprite.svg#zoom"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="card-portfolio__top">
                                        <div class="card-portfolio__text">
                                            #гофрокоробки
                                        </div>
                                        <div class="card-portfolio__title">
                                            Брендирование пакетов для сети кофеен
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Материал:
                                            </div>
                                            <div class="card-portfolio__value">
                                                Бурый крафт (крученые ручки)
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Цветность:
                                            </div>
                                            <div class="card-portfolio__value">
                                                CMYK (полноцвет)
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Тираж:
                                            </div>
                                            <div class="card-portfolio__value">
                                                500 шт.
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="./" class="btn">
                                        <span>Смотреть кейс</span>
                                        <svg aria-hidden="true" width="7" height="11">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </a>
                                </div>
                                <div data-filter="product2" class="card-portfolio">
                                    <div class="card-portfolio__images">
                                        <a href="img/product5.webp" data-fancybox="gallery6"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product5.webp" alt="">
                                        </a>
                                        <a href="img/product5.webp" data-fancybox="gallery6"
                                            class="card-portfolio__image">
                                            <img loading="lazy" src="img/product5.webp" alt="">
                                        </a>
                                        <div class="zoom">
                                            <svg aria-hidden="true" width="23" height="23">
                                                <use xlink:href="img/sprite.svg#zoom"></use>
                                            </svg>
                                        </div>
                                    </div>
                                    <div class="card-portfolio__top">
                                        <div class="card-portfolio__text">
                                            #гофрокоробки
                                        </div>
                                        <div class="card-portfolio__title">
                                            Упаковка для бренда натуральной косметики
                                        </div>
                                    </div>
                                    <ul>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Материал:
                                            </div>
                                            <div class="card-portfolio__value">
                                                Белый микрогофрокартон (МГК)
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Цветность:
                                            </div>
                                            <div class="card-portfolio__value">
                                                CMYK
                                            </div>
                                        </li>
                                        <li>
                                            <div class="card-portfolio__name">
                                                Тираж:
                                            </div>
                                            <div class="card-portfolio__value">
                                                300 шт.
                                            </div>
                                        </li>
                                    </ul>
                                    <a href="./" class="btn">
                                        <span>Смотреть кейс</span>
                                        <svg aria-hidden="true" width="7" height="11">
                                            <use xlink:href="img/sprite.svg#arrow2"></use>
                                        </svg>
                                    </a>
                                </div>
                            </div>
                            <button type="button" class="btn btn-yellow">
                                <span>Показать еще работы</span>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-seo block-seo-other">
                <div class="container">
                    <div class="block-seo__contents contents-bg">
                        <div class="bg2"></div>
                        <div class="block-seo__content content-bg">
                            <div class="block-seo__body">
                                <h2 class="title2">
                                    <span>Хотите такую же качественную</span> упаковку для своего продукта?
                                </h2>
                                <div data-showmore="items" class="showmore">
                                    <div data-showmore-content="1" class="showmore__content">
                                        <p>
                                            Наша технология цифровой печати позволяет наносить изображения на готовые
                                            изделия. Краска не трескается на биговках самосборных коробов и идеально
                                            ровно
                                            ложится вблизи донных швов и ручек крафтовых пакетов. Мы готовы бесплатно
                                            сделать тестовый оттиск вашего макета, чтобы вы лично убедились в качестве
                                            перед
                                            заказом основного тиража
                                        </p>
                                        <p>
                                            Наша технология цифровой печати позволяет наносить изображения на готовые
                                            изделия. Краска не трескается на биговках самосборных коробов и идеально
                                            ровно
                                            ложится вблизи донных швов и ручек крафтовых пакетов. Мы готовы бесплатно
                                            сделать тестовый оттиск вашего макета, чтобы вы лично убедились в качестве
                                            перед
                                            заказом основного тиража
                                        </p>
                                        <p>
                                            Современные гофрокоробки с печатью позволяют объединить прочность упаковки и
                                            визуальную привлекательность. Это особенно важно для интернет-магазинов и
                                            производителей, где упаковка является частью клиентского опыта. Качественно
                                            выполненные коробки с логотипом на заказ помогают подчеркнуть
                                            индивидуальность
                                            бренда и повысить доверие.
                                        </p>
                                        <p>
                                            При этом востребованы не только новые изделия, но и печать на готовых
                                            коробках,
                                            что
                                            позволяет быстро адаптировать упаковку под текущие задачи без дополнительных
                                            затрат
                                            на производство тары. Такой подход особенно удобен для малого и среднего
                                            бизнеса
                                        </p>
                                    </div>
                                    <button hidden data-showmore-button type="button" class="showmore__more">
                                        <span>
                                            Читать полностью
                                            <svg aria-hidden="true" width="9" height="15">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </span>
                                        <span>
                                            Скрыть
                                            <svg aria-hidden="true" width="9" height="15">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </span>
                                    </button>
                                </div>
                            </div>
                            <div class="block-seo__image">
                                <img loading="lazy" src="img/image32.webp" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms block-forms3 block-forms-portfolio">
                <div class="container">
                    <div class="block-forms__content">
                        <div class="block-forms__circle1"></div>
                        <div class="block-forms__circle2"></div>
                        <div class="block-forms__body">
                            <div class="heading-complex">
                                <h2 class="title2">
                                    <span>Хотите такую же качественную</span><br> упаковку для своего <span
                                        class="color">продукта?</span>
                                </h2>
                                <p>
                                    Загрузите ваш логотип или готовый макет. Мы проверим его технические параметры,
                                    подберем оптимальный формат упаковки и рассчитаем стоимость тиража в течение 15
                                    минут
                                </p>
                            </div>
                            <form action="#" class="form">
                                <div class="form__body">
                                    <div class="form__inputs">
                                        <div class="form__input">
                                            <input data-required autocomplete="off" type="text" name="form[1]"
                                                placeholder="Ваше имя" class="input">
                                        </div>
                                        <div class="form__input">
                                            <input data-required autocomplete="off" type="text" name="form[1]"
                                                placeholder="Телефон" class="input telephone">
                                        </div>
                                        <div class="form__input form-input-file">
                                            <input readonly data-required autocomplete="off" type="text" name="form[1]"
                                                placeholder="Прикрепите макет" class="input">
                                            <div class="form-file">
                                                <input type="file">
                                                <svg aria-hidden="true" width="20" height="20">
                                                    <use xlink:href="img/sprite.svg#paper-clip"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form__bottom">
                                        <div class="form__input textarea">
                                            <textarea data-required
                                                placeholder="Какая упаковка вам нужна? (Пакеты / Коробки)" class="input"
                                                name="form[1]"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-bg btn-yellow">
                                            <span>Получить расчет<br> стоимости</span>
                                            <img src="img/image2.webp" alt="">
                                        </button>
                                    </div>
                                </div>
                                <div class="form__text">
                                    Нажимая на кнопку, вы соглашаетесь с <a href="./">политикой
                                        конфиденциальности</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="footer footer-other">
            <div class="footer-top">
                <div class="container">
                    <div class="footer-top__content">
                        <div class="footer-top__left">
                            <div class="footer-top__logo">
                                <a href="./">
                                    <img loading="lazy" src="img/icons/logo2.svg" alt="">
                                </a>
                                <p>
                                    Печать на готовой упаковке малыми и средними тиражами
                                </p>
                            </div>
                            <div class="socials">
                                <a href="./">
                                    <img src="img/icons/telegramm.svg" alt="">
                                </a>
                                <a href="./">
                                    <img src="img/icons/max.svg" alt="">
                                </a>
                                <a href="./">
                                    <img src="img/icons/vk.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="footer-top__column1">
                            <div class="footer-top__title">
                                Реквизиты
                            </div>
                            <ul>
                                <li>
                                    <span>ООО “ПЛЭ Принт”</span>
                                </li>
                                <li>
                                    <span>Адрес производства:</span> 107564, Москва, ул. Краснобогатырская, д. 2, стр. 2
                                    <a href="./">Мы на карте</a>
                                </li>
                                <li>
                                    <span>ИНН:</span> 756127743456
                                </li>
                                <li>
                                    <span>ОГРН:</span> 44637884456773
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top__column2">
                            <div class="footer-top__title">
                                Меню
                            </div>
                            <ul>
                                <li>
                                    <a href="./">
                                        Печать на крафтовых пакетах
                                    </a>
                                </li>
                                <li>
                                    <a href="./">
                                        Печать на готовых гофрокоробках
                                    </a>
                                </li>
                                <li>
                                    <a href="./">
                                        Наши работы
                                    </a>
                                </li>
                                <li>
                                    <a href="./">
                                        Требования к макетам
                                    </a>
                                </li>
                                <li>
                                    <a href="./">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top__column3">
                            <div class="footer-top__title">
                                Контакты
                            </div>
                            <div class="footer-top__contacts">
                                <a href="tel:79882500408" class="footer-top__phone">
                                    +7 (988) <span>250-04-08</span>
                                </a>
                                <a href="mailto:support@pkeprint.ru" class="footer-top__email">
                                    support@pkeprint.ru
                                </a>
                            </div>
                            <a href="./" data-popup="#request" class="btn">
                                <span>Заказать расчет</span>
                                <svg aria-hidden="true" width="7" height="11">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom__content">
                        <div class="footer-bottom__copy">© PKE print 2026 Все права защищены</div>
                        <a href="./" class="footer-bottom__link">
                            Пользовательское соглашение
                        </a>
                        <a href="./" class="footer-bottom__link">
                            Политику конфиденциальности
                        </a>
                        <div class="footer-bottom__text">
                            Разработка сайта: <a href="./">miridea.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>