<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Печать на гофрокоробках</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro block-intro-other2 block-intro-boxes">
                <div class="container">
                    <div class="block-intro__contents">
                        <div class="bg1"></div>
                        <div class="block-intro__content">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="block-intro__body">
                                <div class="block-intro__left">
                                    <div class="breadcrumbs">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <svg aria-hidden="true" width="20" height="18">
                                                        <use xlink:href="img/sprite.svg#home"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Услуги
                                                </a>
                                            </li>
                                            <li><span>Печать на готовых гофрокоробках</span></li>
                                        </ul>
                                    </div>
                                    <h1 class="title1">
                                        <strong>Полноцветная печать</strong> <span>на готовых гофрокоробках</span>
                                    </h1>
                                    <div class="block-intro__text">
                                        <p>
                                            Превращаем стандартную транспортную тару в мощный маркетинговый инструмент.
                                            Брендируем готовые четырехклапанные и самосборные короба без изготовления
                                            печатных форм (клише). <span>От 100 штук за 1–3 дня</span>
                                        </p>
                                    </div>
                                    <div class="block-intro__bottom">
                                        <a href="./" data-popup="#request" class="btn btn-bg btn-yellow">
                                            <span>Рассчитать<br> стоимость онлайн</span>
                                            <img src="img/image2.webp" alt="">
                                        </a>
                                        <a href="./" data-goto=".block-portfolio" data-goto-header
                                            class="block-intro__link">
                                            <svg aria-hidden="true" width="9" height="15">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Посмотреть примеры</span>
                                        </a>
                                    </div>
                                </div>
                                <div data-da=".block-intro__left, 992, 3" class="block-intro__right">
                                    <div class="block-intro__column">
                                        <div class="icon-check">
                                            <svg aria-hidden="true" width="16" height="14">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            Печатаем прямо поверх швов и сгибов
                                        </p>
                                    </div>
                                    <div class="block-intro__column column-yellow">
                                        <div class="icon-check icon-check-yellow">
                                            <svg aria-hidden="true" width="16" height="14">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            <span>Бесплатная</span> цветопроба первого экземпляра перед запуском всего
                                            тиража
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <img src="img/image5.webp" alt="" class="block-intro__pic1 pic-boxes">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section1 block-section1-other">
                <div class="container">
                    <h2 class="title2">
                        <span>Печатаем на вашей таре</span><br> или подберем свою
                    </h2>
                    <div class="block-section1__body">
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <img loading="lazy" src="img/image20.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Самосборные короба<br> (с ушками)
                            </div>
                            <p>
                                Идеально для отправки заказов интернет-магазинов, упаковки косметики, электроники и
                                подарков. Выглядят эстетично и премиально
                            </p>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <img loading="lazy" src="img/image21.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Четырехклапанные короба
                            </div>
                            <p>
                                Классическая транспортная тара. Нанесем логотип, манипуляционные знаки, штрихкоды и
                                техническую информацию
                            </p>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <img loading="lazy" src="img/image22.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Коробки для маркетплейсов (Ozon, WB, Яндекс.Маркет)
                            </div>
                            <p>
                                Строго соблюдаем требования площадок к маркировке и габаритам. Выделяем ваш товар на ПВЗ
                            </p>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <img loading="lazy" src="img/image23.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Короба сложной высечки
                            </div>
                            <p>
                                Упаковка для пиццы, обуви, тортов и нестандартных изделий
                            </p>
                        </div>
                    </div>
                    <div class="block-section1__bottom">
                        <svg aria-hidden="true" width="16" height="16">
                            <use xlink:href="img/sprite.svg#info"></use>
                        </svg>
                        <p>
                            <span>Базовый материал:</span> Бурый и белый гофрокартон, микрогофрокартон (МГК)
                        </p>
                    </div>
                </div>
            </div>

            <div class="block-price block-price-other">
                <div class="container">
                    <div class="block-price__contents contents-bg">
                        <img src="img/image31.webp" alt="" class="block-price__pic1">
                        <div class="bg2"></div>
                        <div class="block-price__content content-bg">
                            <div class="heading-complex">
                                <h2 class="title2">
                                    <span>Стоимость печати</span> на гофрокоробках
                                </h2>
                                <p>
                                    Цена зависит от площади запечатки (размера логотипа) и тиража. Указана стоимость
                                    нанесения без учета самой коробки. При работе с давальческим сырьем (вашими
                                    коробками) закладывайте +X% тары на приладку
                                </p>
                            </div>
                            <div class="block-price__body">
                                <div class="block-price-table">
                                    <div class="block-price-table__main">
                                        <div class="block-price-table__circle1"></div>
                                        <div class="block-price-table__circle2"></div>
                                        <div class="block-price-table__items">
                                            <div class="block-price-table__name">
                                                Тираж
                                            </div>
                                            <div class="block-price-table__name">
                                                Нанесение до А4 (1 сторона)
                                            </div>
                                            <div class="block-price-table__name">
                                                Нанесение до А4 (1 сторона)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-price-table__body">
                                        <div class="block-price-table__column">
                                            <div class="block-price-table__item item-title">
                                                100 - 299 шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 46 руб. / шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 92 руб. / шт.
                                            </div>
                                        </div>
                                        <div class="block-price-table__column">
                                            <div class="block-price-table__item item-title">
                                                300 - 499 шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 32 руб. / шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 64 руб. / шт.
                                            </div>
                                        </div>
                                        <div class="block-price-table__column">
                                            <div class="block-price-table__item item-title">
                                                500 - 999 шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 24 руб. / шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 48 руб. / шт.
                                            </div>
                                        </div>
                                        <div class="block-price-table__column">
                                            <div class="block-price-table__item item-title">
                                                1000+ шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                Индивидуальный расчет
                                            </div>
                                            <div class="block-price-table__item">
                                                Индивидуальный расчет
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-price__text">
                                    <svg aria-hidden="true" width="16" height="16">
                                        <use xlink:href="img/sprite.svg#info"></use>
                                    </svg>
                                    <p>
                                        <span>Экономия на старте.</span> В классической флексопечати запуск тиража
                                        требует
                                        изготовления полимерных флексоформ (от 5000 руб. за каждый цвет). Наше цифровое
                                        оборудование печатает напрямую из файла — вы не платите за подготовку
                                    </p>
                                </div>
                            </div>
                            <a href="./" data-popup="#request" class="btn btn-yellow">
                                <span>Запросить точный расчет по макету</span>
                                <p>
                                    Минимальный заказ - <strong>от 3 000 руб</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section2 block-section2-other">
                <div class="container">
                    <h2 class="title2">
                        <span>Инновационная печать</span><br> решаем проблемы стандартных типографий
                    </h2>
                    <div class="block-section2__body">
                        <div class="block-section2__column">
                            <div class="block-section2__image">
                                <div style="background: #141920;" class="block-section2__bg"></div>
                                <div class="block-section2__number">1</div>
                                <img loading="lazy" src="img/product12.webp" alt="">
                            </div>
                            <div class="block-section2__item">
                                <div class="block-section2__title">
                                    Печать поверх неровностей
                                </div>
                                <p>
                                    Печатающая головка адаптируется к перепадам высот. Мы наносим четкое изображение
                                    прямо по биговкам (сгибам) и стыкам клапанов готовой коробки без искажений
                                </p>
                            </div>
                        </div>
                        <div class="block-section2__column">
                            <div class="block-section2__image">
                                <div style="background: #f05221;" class="block-section2__bg"></div>
                                <div class="block-section2__number">2</div>
                                <img loading="lazy" src="img/product13.webp" alt="">
                            </div>
                            <div class="block-section2__item">
                                <div class="block-section2__title">
                                    Фотографическое качество (CMYK)
                                </div>
                                <p>
                                    Забудьте про скучные одноцветные штампы. Печатаем полноцветные изображения,
                                    градиенты и мелкий текст с высокой читаемостью на фактурном картоне
                                </p>
                            </div>
                        </div>
                        <div class="block-section2__column column-white">
                            <div class="block-section2__image">
                                <div style="background: #ffffff;" class="block-section2__bg"></div>
                                <div class="block-section2__number">3</div>
                                <img loading="lazy" src="img/product14.webp" alt="">
                            </div>
                            <div class="block-section2__item">
                                <div class="block-section2__title">
                                    Печать переменных данных
                                </div>
                                <p>
                                    Можем напечатать уникальный штрихкод, QR-код или порядковый номер на каждой коробке
                                    в тираже без удорожания
                                </p>
                            </div>
                        </div>
                        <div class="block-section2__column">
                            <div class="block-section2__image">
                                <div style="background: #113dde;" class="block-section2__bg"></div>
                                <div class="block-section2__number">4</div>
                                <img loading="lazy" src="img/product15.webp" alt="">
                            </div>
                            <div class="block-section2__item">
                                <div class="block-section2__title">
                                    Стойкость к истиранию
                                </div>
                                <p>
                                    Чернила мгновенно полимеризуются и не смазываются при трении коробок друг о друга во
                                    время логистики
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-gallery">
                <div class="container">
                    <div class="block-gallery__contents contents-bg">
                        <div class="bg2"></div>
                        <div class="block-gallery__content content-bg">
                            <h2 class="title2">
                                <span>Галерея выполненных</span><br> заказов
                            </h2>
                            <div class="block-gallery__body">
                                <div class="block-gallery__slider swiper">
                                    <div class="block-gallery__wrapper swiper-wrapper">
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product1.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>300 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Белая самосборная коробка с ярким принтом для магазина косметики
                                            </p>
                                        </div>
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product2.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>1000 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Транспортный бурый гофрокороб с черным логотипом и манипуляционными
                                                знаками
                                            </p>
                                        </div>
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product3.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>500 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Коробка для пиццы со сложным многоцветным рисунком
                                            </p>
                                        </div>
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product1.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>300 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Белая самосборная коробка с ярким принтом для магазина косметики
                                            </p>
                                        </div>
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product2.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>1000 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Транспортный бурый гофрокороб с черным логотипом и манипуляционными
                                                знаками
                                            </p>
                                        </div>
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product3.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>500 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Коробка для пиццы со сложным многоцветным рисунком
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-gallery__arrow-prev arrow-slider arrow-prev">
                                    <svg aria-hidden="true" width="30" height="15">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                                <div class="block-gallery__arrow-next arrow-slider arrow-next">
                                    <svg aria-hidden="true" width="30" height="15">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-file-requirement">
                <div class="container">
                    <div class="block-file-requirement__content">
                        <div class="heading-complex">
                            <h2 class="title2">
                                <span>Требования к макетам</span><br> для гофрокартона
                            </h2>
                            <p>
                                У гофрокартона есть свои физические особенности (впитываемость, фактура). Следуйте этим
                                простым правилам, чтобы результат оправдал ожидания
                            </p>
                        </div>
                        <div class="block-file-requirement__body">
                            <div data-spollers data-one-spoller class="block-file-spollers">
                                <div class="block-file-spollers__item">
                                    <button type="button" data-spoller class="block-file-spollers__button">
                                        <span class="block-file-spollers__title">Форматы</span>
                                        <span class="block-file-spollers__arrow">
                                            <svg aria-hidden="true" width="8" height="5">
                                                <use xlink:href="img/sprite.svg#arrow4"></use>
                                            </svg>
                                        </span>
                                    </button>
                                    <div class="block-file-spollers__body">
                                        <div class="block-file-spollers__text">
                                            <p>
                                                Все шрифты должны быть переведены в кривые
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-file-spollers__item">
                                    <button type="button" data-spoller class="block-file-spollers__button">
                                        <span class="block-file-spollers__title">Шрифты</span>
                                        <span class="block-file-spollers__arrow">
                                            <svg aria-hidden="true" width="8" height="5">
                                                <use xlink:href="img/sprite.svg#arrow4"></use>
                                            </svg>
                                        </span>
                                    </button>
                                    <div class="block-file-spollers__body">
                                        <div class="block-file-spollers__text">
                                            <p>
                                                Текст должен быть переведен в кривые. Минимальный размер шрифта для
                                                хорошей читаемости на гофрокартоне — 8 pt
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-file-spollers__item">
                                    <button type="button" data-spoller class="block-file-spollers__button">
                                        <span class="block-file-spollers__title">Цветовая модель</span>
                                        <span class="block-file-spollers__arrow">
                                            <svg aria-hidden="true" width="8" height="5">
                                                <use xlink:href="img/sprite.svg#arrow4"></use>
                                            </svg>
                                        </span>
                                    </button>
                                    <div class="block-file-spollers__body">
                                        <div class="block-file-spollers__text">
                                            <p>
                                                Текст должен быть переведен в кривые. Минимальный размер шрифта для
                                                хорошей читаемости на гофрокартоне — 8 pt
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-file-spollers__item">
                                    <button type="button" data-spoller class="block-file-spollers__button">
                                        <span class="block-file-spollers__title">Отступы</span>
                                        <span class="block-file-spollers__arrow">
                                            <svg aria-hidden="true" width="8" height="5">
                                                <use xlink:href="img/sprite.svg#arrow4"></use>
                                            </svg>
                                        </span>
                                    </button>
                                    <div class="block-file-spollers__body">
                                        <div class="block-file-spollers__text">
                                            <p>
                                                Текст должен быть переведен в кривые. Минимальный размер шрифта для
                                                хорошей читаемости на гофрокартоне — 8 pt
                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <a href="./" class="btn btn-yellow">
                                <span>Связаться с технологом по вопросам макета</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-forms block-forms3">
                <div class="container">
                    <div class="block-forms__content">
                        <div class="block-forms__circle1"></div>
                        <div class="block-forms__circle2"></div>
                        <div class="block-forms__body">
                            <div class="heading-complex">
                                <h2 class="title2">
                                    <span>Давайте посчитаем</span> ваш <span class="color">тираж</span>
                                </h2>
                                <p>
                                    Укажите тип коробки (самосборная или четырехклапанная), ее размер в миллиметрах
                                    (ДхШхВ) и желаемый тираж. Мы сделаем расчет за 15–30 минут
                                </p>
                            </div>
                            <form action="#" class="form">
                                <div class="form__body">
                                    <div class="form__inputs">
                                        <div class="form__input">
                                            <input data-required autocomplete="off" type="text" name="form[1]"
                                                placeholder="Ваше имя" class="input">
                                        </div>
                                        <div class="form__input">
                                            <input data-required autocomplete="off" type="text" name="form[1]"
                                                placeholder="Телефон" class="input telephone">
                                        </div>
                                        <div class="form__input form-input-file">
                                            <input readonly data-required autocomplete="off" type="text" name="form[1]"
                                                placeholder="Прикрепите макет" class="input">
                                            <div class="form-file">
                                                <input type="file">
                                                <svg aria-hidden="true" width="20" height="20">
                                                    <use xlink:href="img/sprite.svg#paper-clip"></use>
                                                </svg>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form__bottom">
                                        <div class="form__input textarea">
                                            <textarea data-required
                                                placeholder="Ваш комментарий (размер коробки и тираж)" class="input"
                                                name="form[1]"></textarea>
                                        </div>
                                        <button type="submit" class="btn btn-yellow">
                                            <span>Получить расчет</span>
                                            <svg aria-hidden="true" width="12" height="19">
                                                <use xlink:href="img/sprite.svg#arrow2"></use>
                                            </svg>
                                        </button>
                                    </div>
                                </div>
                                <div class="form__text">
                                    Нажимая на кнопку, вы соглашаетесь с <a href="./">политикой
                                        конфиденциальности</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        <footer class="footer footer-other">
            <div class="footer-top">
                <div class="container">
                    <div class="footer-top__content">
                        <div class="footer-top__left">
                            <div class="footer-top__logo">
                                <a href="./">
                                    <img loading="lazy" src="img/icons/logo2.svg" alt="">
                                </a>
                                <p>
                                    Печать на готовой упаковке малыми и средними тиражами
                                </p>
                            </div>
                            <div class="socials">
                                <a href="./">
                                    <img src="img/icons/telegramm.svg" alt="">
                                </a>
                                <a href="./">
                                    <img src="img/icons/max.svg" alt="">
                                </a>
                                <a href="./">
                                    <img src="img/icons/vk.svg" alt="">
                                </a>
                            </div>
                        </div>
                        <div class="footer-top__column1">
                            <div class="footer-top__title">
                                Реквизиты
                            </div>
                            <ul>
                                <li>
                                    <span>ООО “ПЛЭ Принт”</span>
                                </li>
                                <li>
                                    <span>Адрес производства:</span> 107564, Москва, ул. Краснобогатырская, д. 2, стр. 2
                                    <a href="./">Мы на карте</a>
                                </li>
                                <li>
                                    <span>ИНН:</span> 756127743456
                                </li>
                                <li>
                                    <span>ОГРН:</span> 44637884456773
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top__column2">
                            <div class="footer-top__title">
                                Меню
                            </div>
                            <ul>
                                <li>
                                    <a href="./">
                                        Печать на крафтовых пакетах
                                    </a>
                                </li>
                                <li>
                                    <a href="./">
                                        Печать на готовых гофрокоробках
                                    </a>
                                </li>
                                <li>
                                    <a href="./">
                                        Наши работы
                                    </a>
                                </li>
                                <li>
                                    <a href="./">
                                        Требования к макетам
                                    </a>
                                </li>
                                <li>
                                    <a href="./">
                                        Контакты
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <div class="footer-top__column3">
                            <div class="footer-top__title">
                                Контакты
                            </div>
                            <div class="footer-top__contacts">
                                <a href="tel:79882500408" class="footer-top__phone">
                                    +7 (988) <span>250-04-08</span>
                                </a>
                                <a href="mailto:support@pkeprint.ru" class="footer-top__email">
                                    support@pkeprint.ru
                                </a>
                            </div>
                            <a href="./" data-popup="#request" class="btn">
                                <span>Заказать расчет</span>
                                <svg aria-hidden="true" width="7" height="11">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-bottom">
                <div class="container">
                    <div class="footer-bottom__content">
                        <div class="footer-bottom__copy">© PKE print 2026 Все права защищены</div>
                        <a href="./" class="footer-bottom__link">
                            Пользовательское соглашение
                        </a>
                        <a href="./" class="footer-bottom__link">
                            Политику конфиденциальности
                        </a>
                        <div class="footer-bottom__text">
                            Разработка сайта: <a href="./">miridea.ru</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>