<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Печать на пакетах</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-intro block-intro-other2">
                <div class="container">
                    <div class="block-intro__contents">
                        <div class="bg1"></div>
                        <div class="block-intro__content">
                            <div class="circle1"></div>
                            <div class="circle2"></div>
                            <div class="block-intro__body">
                                <div class="block-intro__left">
                                    <div class="breadcrumbs">
                                        <ul>
                                            <li>
                                                <a href="#">
                                                    <svg aria-hidden="true" width="20" height="18">
                                                        <use xlink:href="img/sprite.svg#home"></use>
                                                    </svg>
                                                </a>
                                            </li>
                                            <li>
                                                <a href="#">
                                                    Услуги
                                                </a>
                                            </li>
                                            <li><span>Печать на крафтовых пакетах</span></li>
                                        </ul>
                                    </div>
                                    <h1 class="title1">
                                        <strong>Полноцветная печать</strong> <span>на готовых крафтовых пакетах</span>
                                    </h1>
                                    <div class="block-intro__text">
                                        <p>
                                            Брендирование бумажных пакетов без изготовления клише.<br> Наносим логотипы,
                                            градиенты на ваши или наши пакеты.<br> <span>От 100 штук за 1–3 дня</span>
                                        </p>
                                    </div>
                                    <div class="block-intro__bottom">
                                        <a href="./" data-popup="#request" class="btn btn-bg btn-yellow">
                                            <span>Рассчитать<br> стоимость онлайн</span>
                                            <img src="img/image2.webp" alt="">
                                        </a>
                                        <a href="./" data-goto=".block-portfolio" data-goto-header
                                            class="block-intro__link">
                                            <svg aria-hidden="true" width="9" height="15">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                            <span>Требования к макетам</span>
                                        </a>
                                    </div>
                                </div>
                                <div data-da=".block-intro__left, 992, 3" class="block-intro__right">
                                    <div class="block-intro__column column-yellow">
                                        <div class="icon-check icon-check-yellow">
                                            <svg aria-hidden="true" width="16" height="14">
                                                <use xlink:href="img/sprite.svg#check1"></use>
                                            </svg>
                                        </div>
                                        <p>
                                            <span>Бесплатная</span> тестовая печать вашего логотипа
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <img src="img/image4.webp" alt="" class="block-intro__pic1 pic-bags">
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section1 block-section1-other">
                <div class="container">
                    <h2 class="title2">
                        <span>Подберем пакет под вашу задачу</span><br> или напечатаем на вашем
                    </h2>
                    <div class="block-section1__body">
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <img loading="lazy" src="img/image16.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Пакеты с кручеными ручками
                            </div>
                            <p>
                                Эстетичный и прочный вариант для бутиков, магазинов одежды, косметики и подарков.
                                Выдерживают до 10 кг
                            </p>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <img loading="lazy" src="img/image17.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Пакеты с плоскими ручками
                            </div>
                            <p>
                                Экономичное решение для доставки еды, продуктов питания и массового ритейла
                            </p>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <img loading="lazy" src="img/image18.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Пакеты без ручек<br>
                                (на вынос)
                            </div>
                            <p>
                                Пакеты с прямоугольным дном (V-образным или плоским) для фастфуда, пекарен и кофеен
                            </p>
                        </div>
                        <div class="block-section1__column">
                            <div class="block-section1__image">
                                <img loading="lazy" src="img/image19.webp" alt="">
                            </div>
                            <div class="block-section1__title">
                                Доступные цвета базы
                            </div>
                            <p>
                                Пакеты с прямоугольным дном (V-образным или плоским) для фастфуда, пекарен и кофеен
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-price">
                <div class="container">
                    <div class="block-price__contents contents-bg">
                        <img src="img/image31.webp" alt="" class="block-price__pic1">
                        <div class="bg2"></div>
                        <div class="block-price__content content-bg">
                            <div class="heading-complex">
                                <h2 class="title2"><span>Стоимость</span> брендирования</h2>
                                <p>
                                    Цены указаны за нанесение печати (без учета стоимости самого пакета). При печати на
                                    ваших пакетах +X% на приладку. Точная стоимость зависит от площади запечатки
                                </p>
                            </div>
                            <div class="block-price__body">
                                <div class="block-price-table">
                                    <div class="block-price-table__main">
                                        <div class="block-price-table__circle1"></div>
                                        <div class="block-price-table__circle2"></div>
                                        <div class="block-price-table__items">
                                            <div class="block-price-table__name">
                                                Тираж
                                            </div>
                                            <div class="block-price-table__name">
                                                Печать с 1 стороны (CMYK)
                                            </div>
                                            <div class="block-price-table__name">
                                                Печать с 2 сторон (CMYK)
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-price-table__body">
                                        <div class="block-price-table__column">
                                            <div class="block-price-table__item item-title">
                                                100 - 299 шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 46 руб. / шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 92 руб. / шт.
                                            </div>
                                        </div>
                                        <div class="block-price-table__column">
                                            <div class="block-price-table__item item-title">
                                                300 - 499 шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 32 руб. / шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 64 руб. / шт.
                                            </div>
                                        </div>
                                        <div class="block-price-table__column">
                                            <div class="block-price-table__item item-title">
                                                500 - 999 шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 24 руб. / шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                от 48 руб. / шт.
                                            </div>
                                        </div>
                                        <div class="block-price-table__column">
                                            <div class="block-price-table__item item-title">
                                                1000+ шт.
                                            </div>
                                            <div class="block-price-table__item">
                                                Индивидуальный расчет
                                            </div>
                                            <div class="block-price-table__item">
                                                Индивидуальный расчет
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-price__text">
                                    <svg aria-hidden="true" width="16" height="16">
                                        <use xlink:href="img/sprite.svg#info"></use>
                                    </svg>
                                    <p>
                                        В отличие от шелкографии, у нас <span>нет скрытых платежей</span> за количество
                                        цветов,
                                        изготовление печатных форм (матриц) и вывод пленок. Вы платите только за готовый
                                        отпечаток.
                                    </p>
                                </div>
                            </div>
                            <a href="./" data-popup="#request" class="btn btn-yellow">
                                <span>Запросить точный расчет по макету</span>
                                <p>
                                    Минимальный заказ - <strong>от 3 000 руб</strong>
                                </p>
                            </a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-section2 block-section2-other">
                <div class="container">
                    <h2 class="title2">
                        <span>Почему цифровая печать</span><br> на готовых пакетах выгоднее?
                    </h2>
                    <div class="block-section2__body">
                        <div class="block-section2__column">
                            <div class="block-section2__image">
                                <div style="background: #141920;" class="block-section2__bg"></div>
                                <div class="block-section2__number">1</div>
                                <img loading="lazy" src="img/product8.webp" alt="">
                            </div>
                            <div class="block-section2__item">
                                <div class="block-section2__title">
                                    Любое количество цветов
                                </div>
                                <p>
                                    Печатаем градиенты, полутона и сложные паттерны (CMYK). Вам не нужно упрощать
                                    логотип до 1-2 моноцветов
                                </p>
                            </div>
                        </div>
                        <div class="block-section2__column">
                            <div class="block-section2__image">
                                <div style="background: #f05221;" class="block-section2__bg"></div>
                                <div class="block-section2__number">2</div>
                                <img loading="lazy" src="img/product9.webp" alt="">
                            </div>
                            <div class="block-section2__item">
                                <div class="block-section2__title">
                                    Печать на сложной поверхности
                                </div>
                                <p>
                                    Оборудование позволяет качественно пропечатывать участки рядом с ручками, донным
                                    швом и на сгибах пакета без потери качества
                                </p>
                            </div>
                        </div>
                        <div class="block-section2__column column-white">
                            <div class="block-section2__image">
                                <div style="background: #ffffff;" class="block-section2__bg"></div>
                                <div class="block-section2__number">3</div>
                                <img loading="lazy" src="img/product10.webp" alt="">
                            </div>
                            <div class="block-section2__item">
                                <div class="block-section2__title">
                                    Высокая скорость
                                </div>
                                <p>
                                    Запуск в печать происходит прямо с компьютера. Не нужно ждать 3-5 дней на подготовку
                                    форм, тираж 500 пакетов можно отпечатать за короткое время
                                </p>
                            </div>
                        </div>
                        <div class="block-section2__column">
                            <div class="block-section2__image">
                                <div style="background: #113dde;" class="block-section2__bg"></div>
                                <div class="block-section2__number">4</div>
                                <img loading="lazy" src="img/product11.webp" alt="">
                            </div>
                            <div class="block-section2__item">
                                <div class="block-section2__title">
                                    Экологичность
                                </div>
                                <p>
                                    Используем безопасные краски, которые не имеют резкого запаха и подходят для
                                    упаковки пищевых продуктов
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-gallery">
                <div class="container">
                    <div class="block-gallery__contents contents-bg">
                        <div class="bg2"></div>
                        <div class="block-gallery__content content-bg">
                            <h2 class="title2">
                                <span>Примеры брендирования</span><br> крафт-пакетов
                            </h2>
                            <div class="block-gallery__body">
                                <div class="block-gallery__slider swiper">
                                    <div class="block-gallery__wrapper swiper-wrapper">
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product1.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>300 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Бурый пакет, печать логотипа для кофейни
                                            </p>
                                        </div>
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product2.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>1000 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Белый пакет с кручеными ручками, полноцветный принт одежды
                                            </p>
                                        </div>
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product3.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>500 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Пакет на вынос для доставки еды
                                            </p>
                                        </div>
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product1.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>300 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Бурый пакет, печать логотипа для кофейни
                                            </p>
                                        </div>
                                        <div class="block-gallery__slide swiper-slide">
                                            <div class="block-gallery__image">
                                                <img loading="lazy" src="img/product2.webp" alt="">
                                                <div class="block-gallery__badge">
                                                    Тираж: <span>1000 шт.</span>
                                                </div>
                                            </div>
                                            <p>
                                                Белый пакет с кручеными ручками, полноцветный принт одежды
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-gallery__arrow-prev arrow-slider arrow-prev">
                                    <svg aria-hidden="true" width="30" height="15">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                                <div class="block-gallery__arrow-next arrow-slider arrow-next">
                                    <svg aria-hidden="true" width="30" height="15">
                                        <use xlink:href="img/sprite.svg#arrow3"></use>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="block-file-requirement">
                <div class="container">
                    <div class="block-file-requirement__content">
                        <div class="heading-complex">
                            <h2 class="title2">
                                <span>Требования</span> к файлам
                            </h2>
                            <p>
                                Чтобы печать получилась идеальной, пожалуйста, проверьте ваш макет по следующим пунктам.
                                Если у вас нет дизайнера — присылайте логотип как есть, наш специалист поможет его
                                адаптировать
                            </p>
                        </div>
                        <div data-spollers class="block-file-spollers">
                            <div class="block-file-spollers__item">
                                <button type="button" data-spoller class="block-file-spollers__button">
                                    <span class="block-file-spollers__title">Форматы</span>
                                    <span class="block-file-spollers__arrow">
                                        <svg aria-hidden="true" width="8" height="5">
                                            <use xlink:href="img/sprite.svg#arrow4"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div class="block-file-spollers__body">
                                    <div class="block-file-spollers__text">
                                        <p>
                                            Все шрифты должны быть переведены в кривые
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-file-spollers__item">
                                <button type="button" data-spoller class="block-file-spollers__button">
                                    <span class="block-file-spollers__title">Шрифты</span>
                                    <span class="block-file-spollers__arrow">
                                        <svg aria-hidden="true" width="8" height="5">
                                            <use xlink:href="img/sprite.svg#arrow4"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div class="block-file-spollers__body">
                                    <div class="block-file-spollers__text">
                                        <p>
                                            Все шрифты должны быть переведены в кривые
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-file-spollers__item">
                                <button type="button" data-spoller class="block-file-spollers__button">
                                    <span class="block-file-spollers__title">Цветовая модель</span>
                                    <span class="block-file-spollers__arrow">
                                        <svg aria-hidden="true" width="8" height="5">
                                            <use xlink:href="img/sprite.svg#arrow4"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div class="block-file-spollers__body">
                                    <div class="block-file-spollers__text">
                                        <p>
                                            Все шрифты должны быть переведены в кривые
                                        </p>
                                    </div>
                                </div>
                            </div>
                            <div class="block-file-spollers__item">
                                <button type="button" data-spoller class="block-file-spollers__button">
                                    <span class="block-file-spollers__title">Отступы</span>
                                    <span class="block-file-spollers__arrow">
                                        <svg aria-hidden="true" width="8" height="5">
                                            <use xlink:href="img/sprite.svg#arrow4"></use>
                                        </svg>
                                    </span>
                                </button>
                                <div class="block-file-spollers__body">
                                    <div class="block-file-spollers__text">
                                        <p>
                                            Все шрифты должны быть переведены в кривые
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a href="./" download="#download" class="btn btn-yellow">
                            <svg aria-hidden="true" width="23" height="23">
                                <use xlink:href="img/sprite.svg#file"></use>
                            </svg>
                            <span>Скачать шаблон</span>
                        </a>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/popups.njk' %}
    {% include 'blocks/scripts.njk' %}
</body>

</html>