.breadcrumbs {
    position: relative;
    z-index: 10;
    padding: 25px 0px 37px 0px;
    @media (max-width: 992px) {
        padding: 20px 0px;
    }
    ul {
        display: flex;
        justify-content: start;
        flex-wrap: wrap;
        align-items: center;
        font-weight: 400;
        font-size: 14px;
        line-height: 150%;
        text-transform: uppercase;
        gap: 10px;
        @media (max-width: 992px) {
            flex-wrap: nowrap;
            margin: 0px -15px;
            padding: 0px 15px;
            width: calc(100% + 30px);
            overflow-x: auto;
            -ms-overflow-style: none;
            scrollbar-width: none;
            &::-webkit-scrollbar {
                display: none;
            }
        }
        li {
            @media (max-width: 992px) {
                white-space: nowrap;
                flex: 0 0 auto;
            }
        }
        a {
            display: flex;
            align-items: center;
            gap: 10px;
            transition: color 0.3s;
            &:hover {
                color: #e21e2b;
            }
            &::after {
                content: "-";
                font-weight: 400;
                font-size: 14px;
                line-height: 150%;
                text-transform: uppercase;
                color: #b2b8c3;
            }
        }
        span {
            color: #b2b8c3;
        }
    }
}
