body {
  color: var(--141920);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  &::before {
    content: "";
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 97;
    background: rgba(20, 25, 32, 0.2);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
  }
  .menu-open & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      @media (max-width: 500px) {
        display: none;
      }
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  border-radius: 12px;
  background-color: var(--f05221);
  box-shadow: 0 20px 30px 0 rgba(117, 20, 11, 0.2);
  display: flex;
  justify-content: center;
  gap: 12px;
  align-items: center;
  padding: 5px 40px;
  min-height: 60px;
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: var(--ffffff);
  transition: opacity 0.3s;
  width: fit-content;
  &:hover {
    opacity: 0.7;
  }
  span {
    display: block;
    margin-bottom: 5px;
  }
  svg {
    fill: var(--ffffff);
  }
  p {
    font-weight: 400;
    font-size: 18px;
    line-height: 133%;
    @media (max-width: 768px) {
      font-size: 16px;
    }
    @media (max-width: 359px) {
      font-size: 14px;
    }
    strong {
      font-weight: 600;
    }
  }
  &.btn-yellow {
    min-height: 120px;
    font-size: 24px;
    box-shadow: none;
    line-height: 117%;
    font-weight: 900;
    border-radius: 20px;
    color: var(--141920);
    background-color: var(--f6ec4c);
    svg {
      fill: var(--141920);
    }
    @media (max-width: 768px) {
      padding: 5px 20px;
      min-height: 100px;
      font-size: 20px;
      line-height: 120%;
      span {
        margin-bottom: 3px;
      }
    }
    @media (max-width: 359px) {
      border-radius: 12px;
      min-height: 80px;
      font-size: 18px;
    }
  }
  &.btn-bg {
    text-align: left;
    padding: 0px 193px 0px 50px;
    position: relative;
    @media (max-width: 550px) {
      justify-content: start;
      padding: 0px 93px 0px 27px;
    }
    @media (max-width: 359px) {
      padding: 0px 93px 0px 20px;
    }
    img {
      position: absolute;
      right: -31px;
      top: -3px;
      width: 192px;
      height: auto;
      @media (max-width: 550px) {
        width: 160px;
        right: -28px;
      }
      @media (max-width: 359px) {
        right: -38px;
      }
    }
  }
}

.title1 {
  font-weight: 400;
  font-size: 56px;
  line-height: 114%;
  text-transform: uppercase;
  color: var(--ffffff);
  @media (max-width: 1476px) {
    font-size: 46px;
  }
  @media (max-width: 768px) {
    font-size: 32px;
    line-height: 113%;
  }
  @media (max-width: 359px) {
    font-size: 28px;
  }
  strong {
    font-weight: 800;
  }
  span {
    font-weight: 400;
    color: var(--f6ec4c);
  }
}

.title2 {
  font-weight: 500;
  font-size: 46px;
  line-height: 113%;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  span {
    font-weight: 700;
  }
  @media (max-width: 768px) {
    font-size: 28px;
    line-height: 114%;
    margin-bottom: 30px;
    br {
      display: none;
    }
  }
}

.socials {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;
  a {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    transition: opacity 0.3s;
    &:hover {
      opacity: 0.7;
    }
    img {
      width: 100%;
      height: auto;
    }
  }
}

.icon-check {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  flex: 0 0 40px;
  border-radius: 50%;
  background: var(--113dde);
  box-shadow: 0 20px 30px 0 rgba(117, 20, 11, 0.2);
  &.icon-check-yellow {
    background: var(--f6ec4c);
    svg {
      fill: var(--141920);
    }
  }
  svg {
    fill: var(--ffffff);
  }
}

.bg1 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  bottom: -39px;
  height: 42px;
  width: 320px;
  background-image: url("../img/bg1.webp");
  background-repeat: no-repeat;
  @media (max-width: 768px) {
    height: 37px;
    bottom: -35px;
    width: 195px;
    background-image: url("../img/bg1-mob.webp");
  }
}

.bg2 {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0px);
  top: 0;
  z-index: 10;
  height: 43px;
  width: 346px;
  background-image: url("../img/bg2.webp");
  background-repeat: no-repeat;
  @media (max-width: 768px) {
    height: 44px;
    width: 251px;
    background-image: url("../img/bg2-mob.webp");
  }
}

.contents-bg {
  position: relative;
  border-radius: 80px;
  background: var(--f6f6f6);
  @media (max-width: 1476px) {
    border-radius: 40px;
  }
  @media (max-width: 992px) {
    border-radius: 20px;
  }
}
.content-bg {
  border-radius: 80px;
  position: relative;
  max-width: 1336px;
  margin: 0 auto;
  padding: 109px 20px 0px 20px;
  @media (max-width: 1476px) {
    border-radius: 40px;
  }
  @media (max-width: 992px) {
    border-radius: 20px;
  }
  @media (max-width: 768px) {
    padding: 85px 20px 0px 20px;
  }
}

.circle1 {
  width: 504px;
  height: 498px;
  position: absolute;
  top: -234px;
  left: -177px;
  border-radius: 50%;
  background: rgba(17, 61, 222, 0.8);
  filter: blur(200px);
  @media (max-width: 1476px) {
    width: 332px;
    left: -128px;
    height: 328px;
    top: -115px;
  }
}
.circle2 {
  width: 787px;
  height: 506px;
  position: absolute;
  top: 203px;
  right: -131px;
  border-radius: 50%;
  background: rgba(17, 61, 222, 0.5);
  filter: blur(200px);
  @media (max-width: 1476px) {
    width: 408px;
    right: -97px;
    height: 263px;
    bottom: 103px;
  }
}

.heading-complex {
  display: flex;
  flex-direction: column;
  gap: 22px;
  margin-bottom: 43px;
  @media (max-width: 768px) {
    gap: 14px;
    margin-bottom: 28px;
  }
  .title2 {
    margin-bottom: 0px;
  }
  p {
    font-weight: 400;
    font-size: 26px;
    line-height: 123%;
    text-align: center;
    @media (max-width: 768px) {
      font-size: 18px;
      line-height: 122%;
    }
  }
}

.zoom {
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 50px;
  height: 50px;
  z-index: 10;
  border-radius: 50%;
  transition: background-color 0.3s;
  background-color: var(--f05221);
  box-shadow: 0 20px 30px 0 rgba(117, 20, 11, 0.2);
  svg {
    fill: var(--ffffff);
  }
  @media (max-width: 768px) {
    right: 5px;
    bottom: 5px;
  }
}
