:root {
  --container-width: 1476px;
  --container-padding: 40px;
  --ffffff: #fff;
  --141920: #141920;
  --113dde: #113dde;
  --f05221: #f05221;
  --f6f6f6: #f6f6f6;
  --f6ec4c: #f6ec4c;

  --font-family: "FuturaNew", sans-serif;
  --second-family: "Inter", sans-serif;
}
